@use 'app/variable.module' as v;

.filtersWrapper {
  margin-bottom: 24px;
}

.filtersSortWrapper {
  margin-bottom: 24px;

  @media (max-width: v.$breakpoint-lg) {
    display: none;
  }
}

.filtersHidenSort {
  display: none;

  @media (max-width: v.$breakpoint-lg) {
    display: flex;
  }
}

.filtersInput {
  border-radius: 8px;
  margin-top: 8px;
  height: 42px;
  line-height: 20px;
  overflow: hidden;

  &[aria-expanded="true"] + .section {
    svg {
      transform: rotate(180deg);
      stroke: v.$purple500;
    }
  }

  &[aria-expanded="true"] {
    border-color: v.$purple500;
  }

  &:focus {
    border-color: v.$purple500;
  }

  &:focus + .mantine-NumberInput-section {
    svg {
      stroke: v.$purple500;
    }
  }

  &:focus + .mantine-InputBase-section {
    svg {
      stroke: v.$purple500;
    }
  }

  &:focus + .mantine-YearPickerInput-section {
    svg {
      stroke: v.$purple500;
    }
  }

  &:focus + .mantine-Select-section {
    svg {
      stroke: v.$purple500;
    }
  }
}

.filtersSection {
  svg {
    stroke: v.$grey500;
  }
}

.filtersLabel {
  font-size: 16px;
  font-weight: 700;
}

.filtersOptions {
  border-radius: 8px;

  &:hover{
    background-color: v.$purple100;
  }

  &:active {
    background-color: v.$purple500;
    color: white;

    span {
      color: white;
    }
  }

  &[data-combobox-active="true"] {
    background-color: v.$purple500;
    color: white;

    span {
      color: white;
    }
  }

  &[data-selected="true"] {
    background-color: v.$purple500;
  }
}

.filtersYearHeader {
  .calendarHeaderControl, .calendarHeaderLevel {
    border-radius: 8px;

    &:hover {
      background-color: v.$purple100;
    }

    &:active {
      background-color: v.$purple500;
      color: white;

      .calendarHeaderControlIcon {
        stroke: white;
      }
    }
  }
}

.filtersYearListControl {
  border-radius: 8px;

  &[data-selected="true"] {
    background-color: v.$purple500;
  }

  &:hover {
    background-color: v.$purple100;
  }

  &:active {
    background-color: v.$purple500;
    color: white;
  }
}

.filtersDropdown {
  border-radius: 8px;
}

.resetButton {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  color: v.$purple500;

  &:hover {
    color: v.$purple400;
  }

  &:active {
  color: v.$purple600;
  }

  &:disabled {
    color: v.$grey600;
  }
}
