@use 'app/variable.module' as v;

.filtersCollapse {
  display: none;
  margin-bottom: 24px;

  @media (max-width: v.$breakpoint-md) {
    display: flex;
  }

  .burgerRoot {
    border-radius: 8px;

    &:hover {
      .burger {
        background-color: v.$purple400;

        &::after {
          background-color: v.$purple400;
        }

        &::before {
          background-color: v.$purple400;
        }
      }

      .burger[data-opened='true'] {
        background-color: inherit;
      }
    }

    &:active {
      background-color: v.$purple200;

      .burger {
        background-color: v.$purple500;

        &::after {
          background-color: v.$purple500;
        }

        &::before {
          background-color: v.$purple500;
        }
      }
    }
  }
}

.filtersWrapper {
  margin-bottom: 24px;
}

.filtersSortWrapper {
  margin-bottom: 24px;

  @media (max-width: v.$breakpoint-lg) {
    display: none;
  }
}

.filtersHidenSort {
  display: none;

  @media (max-width: v.$breakpoint-lg) {
    display: flex;
  }
}

.inputsRoot {
  position: relative;
}

.inputsWrapper {
  &[data-error='true'] {
    margin-bottom: 0;
  }
}

.filtersInput {
  border-radius: 8px;
  margin-top: 8px;
  height: 42px;
  line-height: 20px;
  overflow: hidden;

  &[data-error='true'] {
    &:focus {
      border-color: #fa5252;
    }
  }

  &:focus + .yearPickerSection {
    svg {
      stroke: v.$purple500;
    }
  }

  &:focus + .filtersSection {
    svg {
      stroke: v.$purple500;
    }
  }

  &[aria-expanded="true"] + .yearPickerSection {
    svg {
      transform: rotate(180deg);
      stroke: v.$purple500;
    }
  }

  &[aria-expanded="true"] {
    border-color: v.$purple500;
  }

  &:focus {
    border-color: v.$purple500;
  }
}

.filtersError {
  position: absolute;
  bottom: -20px;
  left: 10px;
}

.filtersSection {
  svg {
    stroke: v.$grey500;
  }
}

.yearPickerSection {
  svg {
    stroke: v.$grey500;
  }
}

.filtersLabel {
  font-size: 16px;
  font-weight: 700;
}

.filtersOptions {
  border-radius: 8px;

  &:hover{
    background-color: v.$purple100;
  }

  &:active {
    background-color: v.$purple500;
    color: white;

    span {
      color: white;
    }
  }

  &[data-combobox-active="true"] {
    background-color: v.$purple500;
    color: white;

    span {
      color: white;
    }
  }

  &[data-selected="true"] {
    background-color: v.$purple500;
  }
}

.filtersYearHeader {
  .calendarHeaderControl, .calendarHeaderLevel {
    border-radius: 8px;

    &:hover {
      background-color: v.$purple100;
    }

    &:active {
      background-color: v.$purple500;
      color: white;

      .calendarHeaderControlIcon {
        stroke: white;
      }
    }
  }
}

.filtersYearListControl {
  border-radius: 8px;

  &[data-selected="true"] {
    background-color: v.$purple500;
  }

  &:hover {
    background-color: v.$purple100;
  }

  &:active {
    background-color: v.$purple500;
    color: white;
  }
}

.filtersDropdown {
  border-radius: 8px;
}

.resetButton {
  font-size: 14px;
  font-weight: 500;
  height: 42px;
  color: v.$purple500;

  &:hover {
    color: v.$purple400;
  }

  &:active {
  color: v.$purple600;
  }

  &:disabled {
    color: v.$grey600;
  }
}
