@use '../../../app/variables' as v;

.movies-wrapper {
  min-height: 100vh;
  background-color: v.$grey100;
  padding: 40px 90px 82px 90px;

  h1 {
    margin-top: 0;
    margin-bottom: 42px;
  }

  .mantine-Flex-root {
    h3 {
      font-size: 20px;
      margin-top: 16px;
    }
  }
}

.mantine-Pagination-root {
  display: flex;
  justify-content: flex-end;

  .mantine-Pagination-control {
    background-color: white;
    border-color: v.$grey200;

    &:hover {
      background-color: v.$purple100;
    }

    &:active {
      background-color: v.$purple500;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }

    &[data-active='true'] {
      background-color: v.$purple500;
    }
  }
}
