@use '@/shared/styles/variable.module' as v;

.modalContent {
  border-radius: 8px;

  .modalHeader {
    border-bottom: 1px solid v.$grey200;

    .modalClose{
      border-radius: 8px;

      svg {
        path {
          fill: v.$grey500;
        }
      }

      &:focus-visible {
        outline: none;
      }

      &:hover {
        background-color: inherit;

        svg {
          path {
            fill: v.$purple400;
          }
        }
      }

      &:active {
        svg {
          path {
            fill: v.$purple600;
          }
        }
      }
    }
  }

  .modalBody {
    padding: 16px;
    gap: 16px;

    @media (max-width: v.$breakpoint-xs) {
      padding: 4px;
    }

    .modalTitle {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .ratingRoot {
      justify-content: space-between;
    }

    .modalButtons{
      margin-top: 16px;
      display: flex;
      gap: 16px;

      .buttonRoot {
        border-radius: 8px;
        background-color: v.$purple500;

        span {
          color: white;
        }

        &:hover {
          background-color: v.$purple400;
        }

        &:active {
          background-color: v.$purple600;
        }
      }

      .unstyledButtonRoot {
        color: v.$purple500;
        font-size: 14px;
        font-weight: 600;

        &:hover {
          color: v.$purple400;
        }

        &:active {
          color: v.$purple600;
        }
      }
    }
  }
}
