@use '../../app/variables' as v;

.movie-details-wrapper {
  border-radius: 8px;
  background-color: white;
  padding: 24px;

  .movie-details-component-container {
    padding-bottom: 20px;
    border-bottom: 1px solid v.$grey300;

    &:nth-child(3) {
      border-bottom: none;
      padding-bottom: 0;
    }

    h3 {
      margin: 0;
      font-size: 20px;
    }

    .production-element {
      margin-top: 16px;

      h4 {
        margin: 0;
      }

      .mantine-Image-root {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        object-fit: contain;
        border-radius: 50%;
        border: 0.5px solid #F1F1F1;
      }
    }

    p {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  .mantine-AspectRatio-root {
    margin-top: 16px;
    width: 500px;

    iframe {
      border-radius: 8px;
    }
  }
}
