@use './variables' as v;

:focus,
:active {
  outline: none;
}

*{
  color: black;
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
      outline: none;
    }
}
