$purple100: #F2EBF9;
$purple200: #E5D5FA;
$purple300: #D1B4F8;
$purple400: #BD93F7;
$purple500: #9854F6;
$purple600: #541F9D;
$yellow-main: #FAB005;
$grey100: #F5F5F6;
$grey200: #EAEBED;
$grey300: #D5D6DC;
$grey500: #ACADB9;
$grey600: #7B7C88;
