@use '@/shared/styles/variable.module' as v;

.button {
  display: none;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 8px;
  background-color: v.$grey100;

  &:hover {
    background-color: inherit;

    svg {
      stroke: v.$purple400;
    }
  }

  &:active {
    background-color: v.$purple400;

    svg {
      stroke: white;
    }
  }

  @media (max-width: v.$breakpoint-sm) {
    display: flex;
  }
}
