@use 'app/variable.module.scss' as v;

.mantine-Pagination-root {
  display: flex;
  justify-content: flex-end;

  .mantine-Pagination-control {
    background-color: white;
    border-color: v.$grey200;

    &:hover {
      background-color: v.$purple100;
    }

    &:active {
      background-color: v.$purple500;
      color: white;

      svg {
        path {
          fill: white;
        }
      }
    }

    &[data-active='true'] {
      background-color: v.$purple500;
    }
  }
}
