@use 'app/variable.module.scss' as v;

.paginationWrapper {
  margin-top: 24px;
  gap: 8px;

  .paginationControl {
    width: 32px;
    height: 32px;
    padding: 0;
    border: 1px solid v.$grey300;
    border-radius: 4px;

    &:hover {
      background-color: v.$purple100;
    }

    &:active {
      background-color: v.$purple500;

      span {
        color: white;
      }

      svg {
        stroke: white;
      }
    }

    &[data-variant='filled'] {
      background-color: v.$purple500;
      span {
        color: white;
      }
    }

    &[data-disabled='true'] {
      background-color: white;

      svg {
        stroke: v.$grey300;
      }
    }

    svg {
      height: 16px;
      width: 16px;
      stroke: v.$grey600;
    }
  }
}
