@use '@/shared/styles/variable.module' as v;

.navLink {
    width: 232px;
    height: 42px;
    border-radius: 8px;
    padding: 10px;

    &:hover {
        color: v.$purple400;
    }
}

.navLinkActive {
    background-color: v.$purple200;
    color: v.$purple500;
    font-weight: 700;
    width: 232px;
    height: 42px;
    border-radius: 8px;
    padding: 10px;

    &:hover {
        color: v.$purple400;
    }
}

.logoLink {
    margin-bottom: 70px;
}

.closeButton {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    border-radius: 8px;

    &:hover {
        background-color: inherit !important;

        svg {
            path {
                fill: v.$purple400;
            }
        }
    }

    &:active {
        background-color: v.$purple400 !important;

        svg {
            path {
                fill: white;
            }
        }
    }

    @media (max-width: v.$breakpoint-sm) {
        display: flex;
    }
}
