@use '@/shared/styles/variable.module' as v;

.movieDetailsWrapper {
  border-radius: 8px;
  background-color: white;
  padding: 24px;

  .movieDetailsComponentContainer {
    padding-bottom: 20px;
    border-bottom: 1px solid v.$grey300;

    &:nth-last-child(1) {
      border-bottom: none;
      padding-bottom: 0;
    }

    h3 {
      margin: 0;
      font-size: 20px;
    }

    .productionElement {
      margin-top: 16px;

      h4 {
        margin: 0;
      }

      .productionImage {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        object-fit: contain;
        border-radius: 50%;
        border: 0.5px solid #F1F1F1;
      }
    }

    p {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  .aspectRatio {
    margin-top: 16px;
    width: 500px;

    iframe {
      border-radius: 8px;
    }
  }
}
